# Escenario
El cliente presenta sus datos comerciales y quiere que presente mis conclusiones

## Configuracion

Construir el ambiente virtual con la siguiente configuracion
Version python `Python 3.8.5`

Cargar  librerias en un archivo de texto con el nombre `requeriments.txt`

**Librerias necesarias**
```
autoviz==0.0.81
numpy==1.19.3
openpyxl==3.0.5
pandas==1.2.0
pandas-profiling==2.9.0
plotly==4.14.1
plotly-express==0.4.1
xlrd==2.0.1
```

## Referencias de la libreria de uso frecuente plotly
**`Sitio oficial`[plottly](https://plotly.com/python/templates/)**

## Importe de librerias

In [1]:
import pandas as pd
import plotly
import plotly.express as px

## Configuracion el espacio de trabajo/plantillas
Otros temas disponibles
```
Available templates:
['ggplot2', 'seaborn', 'simple_white', 'plotly',
'plotly_white', 'plotly_dark', 'presentation', 'xgridoff',
'ygridoff', 'gridon', 'none']

```

In [2]:
## ESTILO PLANTILLA
templte_style = 'plotly_white'

## Carga de datos

In [3]:
# Leyendo datos.
df = pd.read_excel('data.xlsx')

In [4]:
# Informacion rapida
df

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,13,CA-2017-114412,2020-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432
1,24,US-2017-156909,2020-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196
2,35,CA-2017-107727,2020-10-19,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468
3,42,CA-2017-120999,2020-09-10,Standard Class,LC-16930,Linda Cazamias,Corporate,United States,Naperville,Illinois,60540,Central,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168,4,0.2,16.5564
4,44,CA-2017-139619,2020-09-19,Standard Class,ES-14080,Erin Smith,Corporate,United States,Melbourne,Florida,32935,South,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2,0.2,9.5616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,9989,CA-2017-163629,2020-11-17,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.0,55.6470
3308,9991,CA-2017-121258,2020-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
3309,9992,CA-2017-121258,2020-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
3310,9993,CA-2017-121258,2020-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
3311,9994,CA-2017-119914,2020-05-04,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

# Explorando datos

## Forma tradicional

In [4]:
# BUENA PRACTICA/ asegurar si existen valores nulos
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [11]:
# Primeros registros
df.head(3)

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,13,CA-2017-114412,2020-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432
1,24,US-2017-156909,2020-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196
2,35,CA-2017-107727,2020-10-19,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468

In [14]:
# Ultimos registros
df.tail(3)

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3309,9992,CA-2017-121258,2020-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
3310,9993,CA-2017-121258,2020-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
3311,9994,CA-2017-119914,2020-05-04,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [5]:
# Informacion dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         3312 non-null   int64
 1   Order ID       3312 non-null   object
 2   Order Date     3312 non-null   datetime64[ns]
 3   Ship Mode      3312 non-null   object
 4   Customer ID    3312 non-null   object
 5   Customer Name  3312 non-null   object
 6   Segment        3312 non-null   object
 7   Country        3312 non-null   object
 8   City           3312 non-null   object
 9   State          3312 non-null   object
 10  Postal Code    3312 non-null   int64
 11  Region         3312 non-null   object
 12  Product ID     3312 non-null   object
 13  Category       3312 non-null   object
 14  Sub-Category   3312 non-null   object
 15  Product Name   3312 non-null   object
 16  Sales          3312 non-null   float64
 17  Quantity       3312 non-null   int64
 18  Discount       3312 non-null   float64
 19  Profit         3312 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(13)
memory usage: 517.6+ KB

In [9]:
# Descripcion estadistica
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,3312.000000,3312.000000,3312.000000,3312.000000,3312.000000,3312.000000
mean,5087.107488,56186.515097,221.381418,3.766908,0.156467,28.212340
std,2817.482266,31980.375516,585.257531,2.221776,0.207429,241.864342
min,13.000000,1841.000000,0.444000,1.000000,0.000000,-3839.990400
25%,2655.750000,27978.750000,17.018000,2.000000,0.000000,1.763200
50%,5183.500000,60472.500000,53.810000,3.000000,0.200000,8.296800
75%,7498.250000,90032.000000,205.105700,5.000000,0.200000,28.315125
max,9994.000000,99301.000000,13999.960000,14.000000,0.800000,6719.980800

In [5]:
# Obtener una vista de los valores unicos contenidos en una columna
df['Ship Mode'].unique()

array(['Standard Class', 'Second Class', 'First Class', 'Same Day'],
      dtype=object)

#

# Analisis de datos

OBJETIVOS:

`Se desea conocer los siguientes puntos y realizar las siguientes tareas`
* ¿Cuál fue la venta más alta en 2020?
* ¿Cuál es la tasa media de descuento de charis?
* Añadir columnas adicionales para separar el año y el mes de la fecha de pedido
* Añadir una nueva columna para calcular el Margen de Beneficio para cada registro de ventas
* Exportar el archivo con losdatos manipulado a Excel
* Crear un dataframe para reflejar el total de beneficios y ventas por subcategoría
* Desarrollar una función que devuelva un dataframe agrupado por una columna determinada (como entrada)

In [5]:
## Venta mas alta en 2020
df.nlargest(2,'Sales')

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2710,8154,CA-2017-140151,2020-03-23,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,Washington,98115,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808
810,2624,CA-2017-127180,2020-10-22,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,New York,10024,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888

In [9]:
# Cual es la tasa media de descuento?

## Seleccionando solo las sillas 'chairs'

## Se seleccionan solo las sillas y la columna descuento
df[df['Sub-Category']=='Chairs']['Discount']

1       0.3
10      0.0
72      0.1
92      0.2
94      0.2
       ...
3255    0.3
3257    0.3
3259    0.2
3263    0.2
3295    0.0
Name: Discount, Length: 190, dtype: float64

In [10]:
media_discount = df[df['Sub-Category']=='Chairs']['Discount'].mean()
print('Average Discount of charis:\t',media_discount)

Average Discount of charis:	 0.1673684210526316

In [11]:
# Add an extra column for "Order Month" & "Order Year"

df['Order Date Year'] = df['Order Date'].dt.year
df['Order Date Month'] = df['Order Date'].dt.month
df.head(4)

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Order Date Year,Order Date Month
0,13,CA-2017-114412,2020-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,...,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432,2020,4
1,24,US-2017-156909,2020-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,...,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196,2020,7
2,35,CA-2017-107727,2020-10-19,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,...,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468,2020,10
3,42,CA-2017-120999,2020-09-10,Standard Class,LC-16930,Linda Cazamias,Corporate,United States,Naperville,Illinois,...,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168,4,0.2,16.5564,2020,9

In [15]:
## Add a new column to calculate the profit margin for each sales record

df['Profit Margin'] = df['Profit']/ df['Sales']
df.head(2)

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Order Date Year,Order Date Month,Profit Margin
0,13,CA-2017-114412,2020-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,...,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432,2020,4,0.350000
1,24,US-2017-156909,2020-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,...,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196,2020,7,-0.014286

### Export dataframe back to excel

In [17]:
#It generates an updated file with the new columns
df.to_excel('data_update.xlsx', index=False)

## Uso de groupby

In [19]:
# Generates a new dataframe grouped by subcategory 'sum'
df_by_subcategory = df.groupby('Sub-Category').sum()

## Now the subcategory is the index
df_by_subcategory.head()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Order Date Year,Order Date Month,Profit Margin
Sub-Category,,,,,,,,,
Accessories,1449605,15762114,59946.2320,1079,19.80,15672.3570,555500,2153,62.655000
Appliances,874517,9377881,42926.9320,654,29.10,7865.2683,333300,1255,-36.133889
Art,1377681,16355998,8863.0680,1101,22.20,2221.9631,569640,2146,70.995000
Binders,2500416,29015384,72788.0450,2067,189.10,7669.7418,1010000,3841,-107.832500
Bookcases,384522,4483249,30024.2797,276,16.32,-583.6261,153520,552,-11.233641

In [20]:
##  We can also set the index 
### Reset the index
df_by_subcategory.reset_index(inplace=True)
df_by_subcategory

,Sub-Category,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Order Date Year,Order Date Month,Profit Margin
0,Accessories,1449605,15762114,59946.2320,1079,19.80,15672.3570,555500,2153,62.655000
1,Appliances,874517,9377881,42926.9320,654,29.10,7865.2683,333300,1255,-36.133889
2,Art,1377681,16355998,8863.0680,1101,22.20,2221.9631,569640,2146,70.995000
3,Binders,2500416,29015384,72788.0450,2067,189.10,7669.7418,1010000,3841,-107.832500
4,Bookcases,384522,4483249,30024.2797,276,16.32,-583.6261,153520,552,-11.233641
5,Chairs,1009632,10274061,95554.3530,674,31.80,7643.5493,383800,1547,6.894881
6,Copiers,123849,1397973,62899.3880,73,3.40,25031.7902,44440,161,7.027500
7,Envelopes,345363,3714485,3378.5740,241,6.20,1441.7590,143420,541,29.995000
8,Fasteners,343180,3811489,857.5940,249,4.20,304.9489,129280,481,20.955000
9,Furnishings,1582968,17045741,28915.0940,1097,40.80,4099.1628,638320,2483,47.280000
10,Labels,550986,5948688,3861.2160,448,7.20,1744.6093,230280,830,49.622500
11,Machines,157849,1925405,43544.6750,121,9.90,-2869.2156,66660,251,-2.019921
12,Paper,2356710,25101605,27694.7180,1702,36.40,12040.8434,927180,3609,194.142500
13,Phones,1465307,15658068,105340.5160,1090,48.20,12849.3250,593880,2216,33.492500
14,Storage,1446110,16707119,69677.6180,1022,21.80,7402.8007,581760,2257,27.735000
15,Supplies,326365,3169876,16049.4100,192,4.20,-955.3128,119180,433,7.027500
16,Tables,553440,6340602,60893.5425,390,27.60,-8140.6947,210080,849,-16.472424

## Definiendo funcion que agrupe automaticamente

In [23]:
## Groupby as a function
def grouped_data(column_name):
    ''' Parametro de entrada el nombre de la columna'''
    out_df = df.groupby(column_name).sum()
    out_df.reset_index(inplace=True)
    return out_df

## Documentacion de la funcion
help(grouped_data)

## Agrupando por segmentos
grouped_data('Segment')

Help on function grouped_data in module __main__:

grouped_data(column_name)
    Parametro de entrada el nombre de la columna

,Segment,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Order Date Year,Order Date Month,Profit Margin
0,Consumer,8561367,92871614,331904.6999,6282,264.12,45568.2391,3369360,13115,186.803297
1,Corporate,5023960,54879479,241847.8244,3758,154.68,26782.3633,1979600,7679,111.247822
2,Home Office,3263173,38338645,159462.7309,2436,99.42,21088.6672,1341280,4811,86.078886

# Visualizacion

* Se realizaran varios tipos de graficos
* Preparar y reestructurar el dataframe para distintos tipos de graficos
* Generar y exportar listos para presentar, limpio e interactivo

## Tipos de graficos
- `Histogram / Histograma`
- `Boxplot / Diagrama de caja`
- `Barplots / Grafica de barras`
- `Histogram / Histograma`
- `Histogram / Histograma`